In [1]:
# Auto reload python modules
%load_ext autoreload
%autoreload 2

# Append previous folder to path    
import sys
sys.path.append("../")

In [2]:
import pandas as pd
from source.utils import *

In [93]:
cities_raw = pd.read_json('../CityCodes.txt')
cities_raw.drop(columns=['total'], inplace=True)

In [3]:
city_select, cities, states, headers = load_data()

SE, Aracaju,  4426
PA, Belém,  2241
MG, Belo Horizonte,  4750
RR, Boa Vista,  3621
DF, Brasília,  1457
MS, Campo Grande,  2005
MT, Cuiaba,  2104
PR, Curitiba,  3009
SC, Florianopolis,  4152
CE, Fortaleza,  1280
GO, Goiânia,  1574
PB, Joao Pessoa,  2366
AP, Macapa,  833
AL, Maceio,  670
AM, Manaus,  771
RN, Natal,  3397
PR, Palmas,  3249
TO, Palmas,  4633
RS, Porto Alegre,  3647
RO, Porto Velho,  3565
PE, Recife,  2603
AC, Rio Branco,  650
RJ, Rio de Janeiro,  4646
BA, Salvador,  855
MA, São Luís,  1791
SP, São Paulo,  1
PI, Teresina,  2772
ES, Vitória,  1462

In [94]:
cities_raw['capital'] = False
capital_list = list(cities.keys())

capital_index = list(cities_raw[cities_raw['nome'].isin(capital_list)].index)
cities_raw.loc[capital_index,'capital'] = True

In [97]:
cities = pd.DataFrame()
cities[['city_id', 'uf', 'nome', 'capital']] = cities_raw[['city_id', 'uf', 'nome', 'capital']]

In [101]:

cities.to_csv('../cities.csv', index=False)

In [100]:
cities

     city_id  uf                    nome  capital
0       2598  PE            Abreu e Lima    False
1       1917  MA              Açailandia    False
2       3415  RN                     Açu    False
3         39  SP              Adamantina    False
4       2621  PE   Afogados da Ingazeira    False
..       ...  ..                     ...      ...
558      883  BA    Vitoria da Conquista    False
559     2592  PE  Vitória de Santo Antão    False
560     4650  RJ           Volta Redonda    False
561       33  SP              Votorantim    False
562      178  SP             Votuporanga    False

[563 rows x 4 columns]

In [4]:
city_select

{'ARACAJU': 'SE_Aracaju',
 'BELO HORIZONTE': 'MG_Belo Horizonte',
 'BELEM': 'PA_Belém',
 'BOA VISTA': 'RR_Boa Vista',
 'BRASILIA': 'DF_Brasília',
 'CAMPO GRANDE': 'MS_Campo Grande',
 'CUIABA': 'MT_Cuiaba',
 'CURITIBA': 'PR_Curitiba',
 'FLORIANOPOLIS': 'SC_Florianopolis',
 'FORTALEZA': 'CE_Fortaleza',
 'GOIANIA': 'GO_Goiânia',
 'JOAO PESSOA': 'PB_Joao Pessoa',
 'MACAPA': 'AP_Macapa',
 'MACEIO': 'AL_Maceio',
 'MANAUS': 'AM_Manaus',
 'NATAL': 'RN_Natal',
 'PALMAS': 'TO_Palmas',
 'PORTO ALEGRE': 'RS_Porto Alegre',
 'PORTO VELHO': 'RO_Porto Velho',
 'RECIFE': 'PE_Recife',
 'RIO BRANCO': 'AC_Rio Branco',
 'RIO DE JANEIRO': 'RJ_Rio de Janeiro',
 'SALVADOR': 'BA_Salvador',
 'SAO LUIS': 'MA_São Luís',
 'SAO PAULO': 'SP_São Paulo',
 'TERESINA': 'PI_Teresina',
 'VITORIA': 'ES_Vitória'}